@use "../components/mixins.scss" as *;
@use "../components/valuables.scss" as *;

.questions {
  padding-top: 50px;

  &__title {
    & > h1 {
      font-size: 5rem;
      font-weight: 700;
      display: inline-block;
      color: $transparent-Color;
      @include PrimaryBackgroundColor;
      background-clip: text;
    }

    &::after {
      content: "";
      display: block;
      height: 3px;
      @include PrimaryBackgroundColor;
      margin: auto;
      width: 50%;
    }
  }

  &__para {
    & > p {
      padding: 15px 0 18px 0;
      font-size: 1.3rem;
    }
  }

  &__click {
      
      &__cards {
        transition: all 0.5s ease;


        &:hover {
          transform: translateY(-3px);
        }
          
        &-btn {
            transition: all 0.5s ease;
              
        &:not(.collapsed) {
            background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
            color: $fff-Color!important;
            font-size: 23px;
            font-weight: 700;
        }

        &:hover {
            box-shadow: 0 0 0 0.10rem rgba(0,194,255,0.5576680672268908)!important;
            background-color: rgba(0,194,255,0.2576680672268908);
            transition: all 0.5s ease;
        }

        &:focus {
            background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 88%, 0.1)!important;
            box-shadow: 0 0 0 0.20rem rgba(0,194,255,0.8576680672268908)!important;
        }

      }
    }
  }

}
