$primary-Color: #0093E9;
$secondary-Color: #80D0C7;
$fff-Color: #fff;
$transparent-Color: transparent;
$validateInput-Color: #71cbff;
$validateInvalid-Color: rgb(216, 23, 23);
$validateValid-Color: rgb(67, 222, 20)